<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Demo</title>
</head>
<body>
    <form action="#" method="post" >
    <p>Adding Nobel Prize winners data:</p>
    <table>
        <tbody>
            <tr>
                <td>Year:</td>
                <td><input type="text" name="year" /></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td><input type="text" name="category" /></td>
            </tr>
            <tr>
                <td>Is the prize shared by more than one person?:</td>
                <td><input type="radio" id="Yes" name="shared" value="Yes">
                    <label for="Yes">Yes</label>
                    <input type="radio" id="No" name="shared" value="No">
                    <label for="No">No</label>
                </td>
            </tr>
                <p>Enter details about the Laureates:</p>
            <tr>
                <td>ID:</td>
                <td><input type="text" name="id" /></td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input type="text" name="fname" /></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input type="text" name="sname" /></td>
            </tr>
            <tr>
                <td>Motivation:</td>
                <td><input type="text" name="m_text" /></td>
            </tr>
            <tr>
                <td>Shared by:</td>
                <td><input type="text" name="share_no" /></td>
            </tr>            
        </tbody>
</table>
<p><input type="submit" value="submit"/></p>
</form>
</body>
</html>